@model Yildiz.Models.Ulke
@{
    ViewData["Title"] = "Ülke Detay";
}
<h2>Ülke Detay</h2>
<dl class="row">
    <dt class="col-sm-2">İsim</dt>
    <dd class="col-sm-10">@Model.Isim</dd>
</dl>
<a class="btn btn-secondary" asp-action="Listele">Geri Dön</a> 